* {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    padding: 2% 7% 2% 7%;
    background: rgb(56, 56, 56);
  
}

body {
    padding: 0;
    margin: 0;
    background:  #EFEFEF;
}

main {
    padding: 0 7% 0 7%;
}

footer {
    background: rgb(56, 56, 56);
    /*padding: 2% 7% 2% 7%;*/
    color: gray;
}

/*header*/
/*.header-container {
    display: flex;
    flex-direction: column;
}*/

.header-container-top {
    display: flex;
    justify-content: center;
}

.header-imagen{
    
}

.header-description {
    color: gray;
  
}

.header-description span {
    font-style: italic;
    color: white;

}


.botton {
    background-color: #008CBA;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
}

.botton:hover{
    background-color: rgb(7, 60, 206);
}

.botton_get_started{
    background-color: white;
    color: #008CBA;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;

}

.botton_get_started:hover{
    background-color: rgb(7, 60, 206);
    color:white
}

.banner_container {
    position: relative;
}

.banner {
    width: 100%;
    height: 60px;
    margin: auto;
    background: #008CBA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;    
}

.banner::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #008CBA;
    border-right: 50px solid transparent;
}

.banner h2{
font-weight: 100;
margin-left: 50px;
color: white;

}

.banner span{
font-weight: bold; 
font-style: italic;  
}

.section-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3%;
}

.borderimg{
    border-bottom: 13px solid transparent;
    border-image: url(assets/images/border-BG.jpg) 40 round;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

 /*Section one*/
.section-one-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.circle{ 
    background:rgb(56, 56, 56);
    height: 100px;
    width: 100px;
    border-radius: 75%;
    margin: 50px 0px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle i {
color: white;
}

/*Section two*/

.borderimg-recent-work{
    border-bottom: 13px solid transparent;
    border-image: url(assets/images/border-BG.jpg) 40 round;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.borderimg-recent-work::after{
    content: "Recent work";
    position: absolute;
    color: #3F3F3F;
    background-color: #EFEFEF;
    top:100%;
    padding: 0.01% 2%;
    font-size: small;
  }

.section-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2% 0;
 }


.recent-work-item{ 
    width: 32.5%;
    position: relative;
    box-shadow: 5px 3px 5px -2px black;
 }

 .recent-work-image{
     width: 100%;
     height: auto;
     
 }

 .blog-tittle-banner{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    margin-top: 0;
    padding: 2%;
    
 }

 .blog-tittle-banner::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-right: 50px solid transparent;
}

.banner-text{
    z-index: 2;
}

/*Section three*/
.section-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.borderimg-testimonials{
    border-bottom: 13px solid transparent;
    border-image: url(assets/images/border-BG.jpg) 40 round;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4%;
}
.borderimg-testimonials::after{
    content: "Testimonials";
    position: absolute;
    color: #3F3F3F;
    background-color: #EFEFEF;
    top:100%;
    padding: 0.01% 2%;
    font-size: small;
  }

  .borderimg-development{
    border-bottom: 13px solid transparent;
    border-image: url(assets/images/border-BG.jpg) 40 round;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4%;

}
.borderimg-development::after{
    content: "Development";
    position: absolute;
    color: #3F3F3F;
    background-color: #EFEFEF;
    top:100%;
    padding: 0.01% 2%;
    font-size: small;
  }

 .testimonials{
     display: flex;
     flex-direction: column ;
     /*flex-grow: 2;*/
     width: 69%;
 }

 .development{
    display: flex;
    flex-direction: column ;
    /*flex-grow: 1;*/
    width: 29%;
}

.testimonials-banner{
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
}

.john-smith-banner{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    margin-top: 0;
    padding: 2%;
    width: 49%;
    box-shadow: 5px 3px 5px -2px black;
    margin-top: 2%;
 }

 .john-smith-banner::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-right: 50px solid transparent;
}

.dev-botton{
    float:right;
}

/*TABS start*/
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    /*background: #efefef;*/
    box-shadow: 5px 3px 5px -2px black;
  }
  
  .input {
    position: absolute;
    opacity: 0;
  }
  
  .label {
    width: 100%;
    padding: 20px 30px;
    /*background: #e5e5e5;*/
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
  }
  
  .label:hover {
    background: #d8d8d8;
  }
  
  .label:active {
    background: #ccc;
  }
  
  .input:focus + .label {
    /*box-shadow: inset 0px 0px 0px 3px #2aa1c0;*/
    z-index: 1;
  }
  
  .input:checked + .label {
    background: #fff;
    color: #000;
  }
  
  @media (min-width: 600px) {
    .label {
      width: auto;
    }
  }
  
  .panel {
      display: none;
      padding: 20px 30px 30px;
      background: #fff;
    }
    
    @media (min-width: 600px) {
      .panel {
        order: 99;
      }
    }
    
    .input:checked + .label + .panel {
      display: block;
    }
  
  /*tabs ends*/

  /*footer*/

  .footer-menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2% 7% 2% 7%;
  }

  footer h3, span {
      color:white;
  }

  .footer-menu-item{
      flex: 1;
    
  }
  .footer-black{
      background: rgb(27, 27, 27);
  }

  .socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }


  .fab {
    color: white;

}






  