* {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    padding: 2% 7% 2% 7%;
    background: rgb(56, 56, 56);
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background:  #EFEFEF;
}

main {
    padding: 0 7% 0 7%;
}

footer {
    background: rgb(56, 56, 56);
    padding: 2% 7% 2% 7%;
    color: white;
}

/*header*/
.header-container {
    display: flex;
    flex-direction: column;
}

.header-container-top {
    display: flex;
    flex-direction: rows;
    justify-content: center;
}

.header-imagen{
    
}

.header-description {
    color: gray;
    /*flex: 1;*/
}

.header-description span {
    font-style: italic;
    color: white;

}


.botton {
    background-color: #008CBA;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
}

.botton:hover{
    background-color: rgb(7, 60, 206);
}

.botton_white{
    background-color: white;
    color: #008CBA;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: large;
    font-weight: bold;
    margin-right: 10px;

}

.botton_white:hover{
    background-color: rgb(7, 60, 206);
    color:white
}

.banner_container {
    position: relative;
}

.banner {
    width: 100%;
    height: 60px;
    margin: auto;
    background: #008CBA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;    
}

.banner::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #008CBA;
    border-right: 50px solid transparent;
}

.banner h2{
font-weight: 100;
margin-left: 50px;
}

.banner span{
font-weight: bold; 
font-style: italic;  
}

.section-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3%;
}

.borderimg{
    border-bottom: 13px solid transparent;
    border-image: url(assets/images/border-BG.jpg) 40 round;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.borderimg::after{
    content: "Recent work";
    position: absolute;
    color: #3F3F3F;
    background-color: #EFEFEF;
    top:100%;
    padding: 0.01% 2%;
    font-size: small;
  }



 /*Section one*/
.section-one-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.circle{ 
    background:rgb(56, 56, 56);
    height: 100px;
    width: 100px;
    color: white;
    border-radius: 75%;
    margin: 50px 0px;
    align-self: center;
}

#item-one {
    background: 
}

#item-two {
    
}

#item-three {
   
}

#item-four {
}

/*Section two*/

.section-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2% 0;
 }


.images-description{ 
    width: 32.5%;
    position: relative;
    box-shadow: 5px 3px 5px -2px black;
 }



 .section-two-image{
     width: 100%;
     height: auto;
     
 }

 .desc-banner{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    margin-top: 0;
 }

 .desc-banner::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid white;
    border-right: 50px solid transparent;
}